<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship Game</title>
    <script>
        function submitForm() {
            var playerName = document.getElementById('player_name').value;
            var cell = document.getElementById('cell').value;
            var formData = {
                "player_name": playerName,
                "cell": cell
            };

            fetch('/turn', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => {
                // Обработка ответа сервера
                console.log(response);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Battleship Game</h1>

    <form>
        <label for="player_name">Player Name:</label>
        <input type="text" id="player_name" name="player_name"><br><br>

        <label for="cell">Cell:</label>
        <input type="text" id="cell" name="cell"><br><br>

        <input type="button" value="Submit" onclick="submitForm()">
    </form>

    <table border="1">
      {% for row in game_board %}
      <tr>
        {% for cell in row %}
        <td>{{ cell.status }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
</body>
</html>